<!DOCTYPE html>
<html>

<head>
    <title>TBAM: Learning Center</title>
    <link rel="stylesheet" type="text/css" href="../resources/base.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body style="background-color: whitesmoke;">
    
    <div id="app-header">
        <div style="width:95%;margin: 0 auto;">

            <div class="pad-10 inline" id="app-header-left">
                <div id="app-header-logo-txt">Boli</div>
            </div>

            <div class="pad-10 inline" id="app-header-right" style="margin-top: 5px;">
                <div class="btn btn-primary click-icon">Login</div>
            </div>

        </div>

    </div>

    <div id="app-body">



    </div>

</body>

</html>