<div id="app-header">
    <div style="width:95%;margin: 0 auto;">

        <div class="pad-10 inline" id="app-header-left">
            <div id="app-header-logo-txt">Boli</div>
        </div>

        <div class="pad-10 inline" id="app-header-right" style="margin-top: 5px;">
            <a class="no-decor" href="/login">
                <div class="btn btn-primary click-icon">Login</div>
            </a>
        </div>

    </div>

</div>