@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('/node_modules/@fortawesome/fontawesome-free/css/all.css');

/* COMMON CSS */
body{
    font-family: 'Roboto', sans-serif;
}
label{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

a.no-decor{
    text-decoration: none;
    color: inherit;
}

a.no-decor:hover{
    color:inherit;
    text-decoration: inherit;
    cursor: pointer;
}

section{
    margin:20px 0;
}

/* FORM CONTROLS */
.form-group input{
    font-size: 13px;
}
.control-description{
    color:grey;
    font-size: 12px;
    margin-top:5px;
}
.req-err-msg{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    /* display: inline-block; */
    font-weight: bold;
    text-transform: uppercase;
}
.form-box{
    width:40%;margin:auto;background-color: white;
}

#app-header{
    position: fixed;
    top:0px;
    right:0px;
    left:0px;
    z-index:99;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
}

.top-logo-container{
    text-align: center;
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px solid lightgrey;
}

/* CUSTOM CLASSES */
.inline{
    display: inline-block;
}

.v-top{
    vertical-align: top;
}

.click-icon,
.btn{
    cursor: pointer;
}

.pad-10{
    padding: 10px;
}

.pad-5{
    padding: 5px;
}

.bor-sm-grey{
    border: 1px solid lightgrey;
}

.bor-sm-ro{
    border-radius: 5px;
}

/* APP HEADER LEFT SIDE */
#app-header-left{
    padding: 10px;
}

/* APP HEADER RIGHT SIDE */
#app-header-right{
    float: right;
}

#app-header-logo-txt{
    font-size: 2em;
}


/* HEADER - USER INFO */
#header-user-info{
    position: relative;
    
}

#header-user-img-container{
    width:40px;
    height:40px;
    border-radius: 50%;
    cursor: pointer;
}

#header-user-img-container img{
    max-width: 100%;
    border-radius: 50%;
}

#header-user-img-container:hover{
    border: 1px solid lightgrey;
}

#header-user-details{
    position: absolute;
    top: 50px;
    width: 300px;
    height: auto;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    right: 0;
    display: none;
}

#header-user-details-profile-img img{
    width:80px;
    height:80px;
    border-radius: 50%;
    cursor: pointer;
}