<!DOCTYPE html>
<html>

<head>
    <title>Boli - Login</title>
    <% include ../partials/load-common-scrips %>
</head>

<body style="background-color: whitesmoke;">

    <!-- via EJS: header -->
    <% include ../partials/header-logo %>

    <div id="app-body" style="margin-top:20px;">
        <div class="pad-10 bor-sm-grey bor-sm-ro" style="width:40%;margin:auto;background-color: white;">
            <div id="unauth-msg-outer">
                <div id="unauth-msg-inner">
                    Username and password incorrect
                </div>
            </div>
            <form id="login-form">
                <div class="form-group">
                    <label>Email id</label>
                    <input class="form-control" type="text" name="emailid" placeholder="email id" data-required='1'>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password" placeholder="password" data-required='1'>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Login</button>
                </div>
            </form>
            <div style="margin-top:10px;text-align: center">
                <a href="/password-reset">
                    <div class="btn btn-link" style="font-size: 13px;">Forgot your password?</div>
                </a>
            </div>
            <hr/>
            <div class="text-center">
                <div class="btn btn-dark"><i class="fab fa-facebook-f"></i>  Facebook</div>
                <div class="btn btn-warning pull-right" style="margin-left:20px;"><i class="fab fa-google"></i>  Google</div>
            </div>
            <hr/>
            <div class="text-center">
                <label>New to Boli ? </label>
                <a href="/signup"><button class="btn btn-success">Sign up</button></a>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/resources/css/login.css">
    <script type="text/javascript" src='/resources/js/login.js'></script>

</body>

</html>