<!DOCTYPE html>
<html>

<head>
    <title>Boli - Profile</title>
    <% include ../partials/load-common-scrips %>
</head>

<body style="background-color: whitesmoke;">
    
    <!-- via EJS: header -->
    <% include ../partials/header %>

    <div id="app-body">
    </div>

</body>

</html>