<!DOCTYPE html>
<html>

<head>
    <title>Boli - Login</title>
    <% include ../partials/load-common-scrips %>
</head>

<body style="background-color: whitesmoke;">

    <!-- via EJS: header -->
    <% include ../partials/header-logo %>

    <div id="app-body" style="margin-top:20px;text-align: center">
        <h2>Yay ! Sign up completed successfully</h2>
        <div style="margin-top:10px;">
            Your account has been created successfully. 
            Please click <a href="/login"><button class="btn btn-success">Login</button></a> 
            to login to your account
        </div>
        <div style="margin-top:10px;">
            Thank you for choosing <b>Boli</b>
        </div>
    </div>
</body>

</html>